@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(http://fonts.googleapis.com/css?family=Oxygen);

body {
	background-image: url(../img/mochagrunge.png);
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 80px;
	font-family: Raleway, sans-serif;
	font-size: 18px;
	color: #000;
	height: 100%;
}

p {
	margin-bottom: 20px;
	margin-top: 5px;
	margin-left: 15px;
	line-height: 1.5em;
}

.content-box {
	width: 90%;
	background-color: #FFF;
	margin: 0 auto;
	box-shadow: 2px 2px 6px #555;
	height: 100%;
}

.logo {
	width: 95%;
	margin: 0 auto;
}



nav ul {
	background-color: #D87F45;
	width: 95%;
	height: 40px;
	border-radius: 5px;
	margin: 0 auto;
	margin-bottom: 10px;
}

nav li {
	display: inline-block;
	height: 40px;
}

nav a {
	display: inline-block;
	padding: 10px;
	font-weight: bold;
	font-size: 110%;
	transition: all .2s;
}

nav a:link,
nav a:visited {
	text-decoration: none;
	color: #000;
}

nav a:hover {
	background-color: #F0B845;
	border-radius: 5px;
}

a:link {
	color: #000;
}
a:hover {
	color:#F53D3C;
}

a:visited {
	color: #6A2F8E;
}

.templates {
	display: none;
}

.pizza {
	width: 100%;
	margin-right: 5%;
	padding-bottom: 30px;
}

.about {
	font-size: 150%;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 30px;
}

.menu-body {
	width: 90%;
	background-image: url(../img/ricepaper.png);
	background-repeat: repeat;
	margin: 0 auto;
	padding: 10px;
	box-shadow: 2px 2px 6px #555;
	color: #000;
	font-family: Droid Serif;
}

.menu-body h1 {
	font-size: 300%;
	text-align: center;
	font-weight: bold;
	border-bottom: 2px solid #8C7E71;
}

.modifications {
	font-weight: bold;
	color: #A0000F;
	font-size: 110%;
	padding-bottom: 20px;
	padding-top: 20px;
}

.menu-body h2 {
	padding-top: 15px;
	padding-bottom: 20px;
	font-size: 150%;
	font-weight: bold;
}

.menu-body dt {
	font-weight: bold;
	padding-bottom: 10px;
	font-weight: bold;
}

dd {
	padding-bottom: 30px;
	font-style: italic;
}

.menu-body li {
	list-style-type: none;
	font-style: italic;
	font-weight: bold;
	font-size: 150%;
	padding-bottom: 20px;
}

.order {
	float: right;
	margin-right: 20px;
	width: 400px;
}

.about-us {
	font-family: Oxygen;
}

.about-us h2 {
	font-size: 150%;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
}

.about-us p {
	margin-left: 20px;
	margin-right: 20px;
}

.pizza-oven {
	float: right;
	width: 40%;
	margin: 15px;
}

blockquote {
	margin-left: 10px;
	padding-bottom: 15px;
}

.navbar {
	opacity: .8;
	background-color: #F0B845;
	height: 50px;
	min-height: 20px;
}

.navbar:hover {
	opacity: 1;
}

.tax-amount, .subtotal-amount, .total-price{
	font-size: 90%;
}



/* styles for phone and tablet screens (<768px) */
@media (max-width: 767px) {
    
    .content-box {
        width: 100%;
    }

    /* stack columns instead of side-by-side */
    .col {
        float: none;
        width: 100%;
        text-align: center;
    }

}

/* styles for phone screens (<480px) */
@media (max-width: 479px) {
    /* drop base font size down to 16px */
    body {
        font-size: 16px;
    }
    
    .order {
    	display: none;
    }

    p {
    	line-height: 1.5em;
    }

    .pizza-oven {
    	width: 50%;
    	margin-left: 0px;
    }

 	iframe {
 		margin-left: 0px;
 	}
}


